table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
}

.left {
    background-color: mediumpurple;
} 

.right {
    background-color: mediumorchid;
}